In [1]:
# Dalam python, Dictionary disebut juga "mapping". identik dengan array asosiatif
# Indeks type string
# Type data: 1) key; 2) value
# Bentuk umum: variabel ={key1:value1, key2:value2}

#contoh
dic ={'Dosen':'Eko', 'Prodi':'Mekatronika', 'Kuliah':'Python'} #buat variabel

#menampilkan dictionary:

print("dic['Dosen']:", dic['Dosen'])
print("dic['Prodi']:", dic['Prodi'])
print("dic['Kuliah']:", dic['Kuliah'])

dic['Dosen']: Eko
dic['Prodi']: Mekatronika
dic['Kuliah']: Python

In [2]:
dic ={'Dosen':'Eko', 'Prodi':'Mekatronika', 'Kuliah':'Python'} #buat variabel

#menampilkan dictionary:
print("Dosen:", dic['Dosen'])
print("Prodi:", dic['Prodi'])
print("Kuliah:", dic['Kuliah'])

Dosen: Eko
Prodi: Mekatronika
Kuliah: Python

In [3]:
# Variabel dictionary
dic ={'satu':5, 'dua':10}

#menampilkan dictionary:
print("satu:", dic['satu'])
print("dua:", dic['dua'])

satu: 5
dua: 10

In [4]:
#variabel dictionary
dic ={'satu':5, 'dua':10}
print("dic['satu'] * dic['dua']:", (dic['satu'] * dic['dua']))

dic['satu'] * dic['dua']: 50

In [7]:
#variabel dictionary
dic ={'satu':5, 'dua':10}

#operasi matematis dictionary
print("satu:", dic['satu'])
print("dua:", dic['dua'])
print("satu * dua:", (dic['satu'] * dic['dua']))
print("satu + dua:", (dic['satu'] + dic['dua']))
print("dua / satu:", (dic['dua'] / dic['satu']))

satu: 5
dua: 10
satu * dua: 50
satu + dua: 15
dua / satu: 2.0

In [9]:
#Menambah elemen ke dalam dictionary

dic ={'satu':5, 'dua':10} #sebelum ditambah
dic['tiga'] = 15 #menambahkan elemen key 'tiga' dan value '15'
print(dic) # menampilkan hasil penambahan elemen

{'satu': 5, 'dua': 10, 'tiga': 15}

In [10]:
# mengubah elemen dalam dictionary

dic = {'satu':5, 'dua':10, 'tiga':15} #sebelum diubah
dic['dua'] = 20 # mengubah value '10' menjadi '20'
print(dic)

{'satu': 5, 'dua': 20, 'tiga': 15}

In [11]:
# menghapus elemen dari dictionary

dic = {'satu':5, 'dua':10, 'tiga':15} # sebelum dihapus
del dic['dua']
print(dic)

{'satu': 5, 'tiga': 15}

In [12]:
# sorting dictionary

D = {'a':1, 'b':2, 'c':3}
print(D)
Ks = list(D.keys())
print(Ks)
Ks.sort()
print(Ks)

for key in Ks:
    print(key, '=', D[key])

{'a': 1, 'b': 2, 'c': 3}
['a', 'b', 'c']
['a', 'b', 'c']
a = 1
b = 2
c = 3

In [13]:
# Type list
# dalam python mirip dengan array normal
# dalam list, elemen tidak diindeks berdasarkan kunci(key) tertentu
# Indeks bilangan selalu diawali dari niali nol(0)
# Indeks negatif ditentukan dari  arah kanan, dan dimulai dari -1
# bentuk umum: nama_list = [nilai1, nilai2, nilai3, ...]

# Contoh:
list = [10, 20, 30, 40, 50]

# index elemen di dalam list berdasarkan posisi
print('Index List')
print(list[0]) # bernilai 10
print(list[2]) # bernilai 30
print(list[4]) # bernilai 50
print(list[-1]) # bernilai 50
print(list[-2]) # bernilai 40
print(list[-5]) # bernilai 10
print('banyaknya elemen')
print(len(list))

Index List
10
30
50
50
40
10
banyaknya elemen
5

In [18]:
# contoh:
list = [10, 20, 30, 40, 50]

# Slicing (memotong) elemen didalam list
print('sebelum dipotong:')
print(list)
print('setelah dipotong:')
print(list[:-1]) # memotong elemen pertama dari kanan
print(list[:1]) # memotong elemen
print(list[-1:]) # memotong elemen dari kanan kecuali elemen -1
print(list[-2:])
# tugas berikan penjelasan pada slicing

sebelum dipotong:
[10, 20, 30, 40, 50]
setelah dipotong:
[10, 20, 30, 40]
[10]
[50]
[40, 50]

In [19]:
# contoh:
list = [10, 20, 30, 40, 50]

# penggabungan elemen list dan membuat daftar list baru
print('sebelum digabung:')
print(list)
print('setelah digabung:')
print(list + [600, 700, 800])

sebelum digabung:
[10, 20, 30, 40, 50]
setelah digabung:
[10, 20, 30, 40, 50, 600, 700, 800]

In [21]:
# pengambilan elemen list menggunakan indeks negatif dapat ditentukan dengan formula
# List[-n] = list[len(list) - n]

# contoh:
list = [10, 20, 30, 40, 50]
print(len(list)) # berfungsi untuk mengambil jumlah atau banyaknya elemen dalam list

# jika n = -3
list[-3] = list[len(list)-3] # = list[2]
print(list[-3])
print(list[2])

# berarti list[-3] = list[2]

5
30
30

In [22]:
# dalam python, nilai elemen dalam list bisa berasal dari tipe data yang berbeda

#contoh:
list = [1, 'Jeruk', 2, 'Rambutan', 3, 'Durian']

# menampilkan elemen dalam list
print(list)

# index elemen list
print(list[0])
print(list[1])
print(list[2])
print(list[3])
print(list[4])
print(list[5])

[1, 'Jeruk', 2, 'Rambutan', 3, 'Durian']
1
Jeruk
2
Rambutan
3
Durian

In [23]:
# Nilai elemen didalam list juga dapat berupa list lain
# Konsep sama dengan array multidimensional

# contoh:
list = [1, 'Takumi', ['Jl. Raya Kodam', 'Cikarang Selatan', 17530], '08111374497']

print(list[2][0])
print(list[2][1])
print(list[2][2])

Jl. Raya Kodam
Cikarang Selatan
17530

In [24]:
# contoh array multidimensional (Nesting) dalam bentuk matriks
M = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

print('Matriks 3x3')
print(M[1]) # menampilkan baris kedua

print('Mengambil baris ke-2, lalu dapatkan item ke-3 didalam baris')
print(M[1][2])
print(M[0][1])
print(M[1][0])
print(M[2][1])
Matrix =((M[0][1]), (M[1][0]), (M[2][1]))
print(Matrix)

Matriks 3x3
[4, 5, 6]
Mengambil baris ke-2, lalu dapatkan item ke-3 didalam baris
6
2
4
8
(2, 4, 8)

In [25]:
# list comprehension expression

# membuat matriks
M = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

print('Matriks 3x3:')
print(M)

# tambahkan 1 untuk setiap item di kolom 2
M1 = [row[1]+1 for row in M]
print('Hasil penambahan 1 untuk setiap item dikolom 2')
print(M1)

# menyaring item data pada matriks
print('Matriks 3x3 sebelun penyaringan data:')
print(M)
M2 = [row[1] for row in M if row[1] %2 == 0]
print('Data matriks yang telah di saring pada kolom ke-2')
print(M2)

M3 = [row[0] for row in M if row[0] %2 == 0]
print('Data matriks yang telah disaring pada kolom ke-1')
print(M3)

# mengumpulkan diagonal dari matriks
print('Matriks 3x3:')
print(M)
diag =[M[i][i] for i in [0, 1, 2]]
print('bentuk diagonal matriks')
print(diag)

Matriks 3x3:
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Hasil penambahan 1 untuk setiap item dikolom 2
[3, 6, 9]
Matriks 3x3 sebelun penyaringan data:
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Data matriks yang telah di saring pada kolom ke-2
[2, 8]
Data matriks yang telah disaring pada kolom ke-1
[4]
Matriks 3x3:
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
bentuk diagonal matriks
[1, 5, 9]

In [29]:
# menambah elemen ke dalam list 

# membuat list
kota = ['Jakarta', 'Bandung', 'Semarang']
print('Elemen awal:')
print(kota)

# menggunakan metode append (); untuk menambah elemen tunggal diakhir bagian list
kota.append('Surabaya')
print('\nSetelah append():')
print(kota)

# menggunakan metode insert(); untuk menambahkan elemen tunggal di indeks/posisi tertentu
kota.insert(1, 'Yogyakarta')
print('\nSetelah insert():')
print(kota)

# menggunakan metode extend(); untuk menyambung atau menggabungkan suatu list dengan list lainnya
kota.extend(['Medan','Denpasar'])
print('\nSetelah extend():')
print(kota)

Elemen awal:
['Jakarta', 'Bandung', 'Semarang']

Setelah append():
['Jakarta', 'Bandung', 'Semarang', 'Surabaya']

Setelah insert():
['Jakarta', 'Yogyakarta', 'Bandung', 'Semarang', 'Surabaya']

Setelah extend():
['Jakarta', 'Yogyakarta', 'Bandung', 'Semarang', 'Surabaya', 'Medan', 'Denpasar']

In [30]:
# mengubah nilai elemen didalam list

# membuat list
hewan = ['ayam', 'kucing', 'tikus']
print("Sebelum diubah:")
print(hewan)

# membuat nilai elemen list 
hewan[1] = 'ular'
hewan[-1] = 'buaya'

# menampilkan hasil perubahan 
print('\nSetelah diubah:')
print(hewan)

Sebelum diubah:
['ayam', 'kucing', 'tikus']

Setelah diubah:
['ayam', 'ular', 'buaya']

In [31]:
# menghapus elemen dari list

# membuat list
negara = ['Indonesia', 'Singapura', 'Malaysia', 'Thailand', 'Vietnam', 'India']
print('Sebelum dihapus:')
print(negara)

# menggunakan remove(); menghapus elemen list berdasarkan nilainya
# bentuk umum: nama_variabel.remove()
negara.remove('Singapura')
negara.remove('Vietnam')

# menampilkan hasil setelah dihapus dengan metode remove()
print('\nSetelah dihapus:')
print(negara)

# menggunakan de(); menghapus elemen list berdasarkan indeksnya
# bentuk umum: del nama_variabel[indeks]
del negara[2]
del negara[-2]

# menampilkan hasil setelah dihapus dengan metode del[]
print('\nSetelah dihapus dengan metode del[]:')
print(negara)

# menggunakna metode clear(): menghapus seluruh elemen didalam list
print(len(negara))
negara.clear()
print(len(negara))

Sebelum dihapus:
['Indonesia', 'Singapura', 'Malaysia', 'Thailand', 'Vietnam', 'India']

Setelah dihapus:
['Indonesia', 'Malaysia', 'Thailand', 'India']

Setelah dihapus dengan metode del[]:
['Indonesia', 'India']
2
0

In [32]:
# mencari elemen didalam list 
# menggunakan metode index()
# bentuk umum: nama_list.index(nilai)

# membuat list
buah = ['pepaya', 'mangga', 'pisang', 'jambu']
print(buah)

# mencari elemen list
# bentuk umum: nama_variabel.index('nilai atau elemen yang diindeks)
print('pepaya berada di indeks ke-')
print(buah.index('pepaya'))
print('jambu berada di indeks ke-')
print(buah.index('jambu'))

['pepaya', 'mangga', 'pisang', 'jambu']
pepaya berada di indeks ke-
0
jambu berada di indeks ke-
3

In [33]:
# menyusun data dalam list menggunakan metode sort() dan reverse()

# mebuat list
L = ['bb', 'aa', 'cc']

# menggunakan metode sort()
print('Data list awal:')
print(L)
print('Setelah di sort:')
L.sort()
print(L)

# menggunakan metode reverse()
print('Data list:')
print(L)
print('Setelah di reverse;')
L.reverse()
print(L)

Data list awal:
['bb', 'aa', 'cc']
Setelah di sort:
['aa', 'bb', 'cc']
Data list:
['aa', 'bb', 'cc']
Setelah di reverse;
['cc', 'bb', 'aa']

In [35]:
#mengulang karakter dalam sebuah string

# membuat list
list = ['Politeknik', 'Takumi', 'Hebat']
print('Data list:')
print(list)
print('Mengulang karakter pada item takumi sebanyak 2 kali')
doubles = [c* 2 for c in 'Takumi']
print(doubles)
doubles1 = [c* 3 for c in 'Takumi']
print(doubles1)

Data list:
['Politeknik', 'Takumi', 'Hebat']
Mengulang karakter pada item takumi sebanyak 2 kali
['TT', 'aa', 'kk', 'uu', 'mm', 'ii']
['TTT', 'aaa', 'kkk', 'uuu', 'mmm', 'iii']